<footer class="main-footer">
  <div class="pull-right hidden-xs">
    Anything you want
  </div>
  <strong>
    Copyright © 2017
    <a href="#"> Nate Post, Inc.</a>
  </strong>
  All rights reserved.
</footer>
